{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<div class="titleIcons">
	<div class="titleIconLeft"></div>
	<div class="titleIconRight">
	    <f:if condition="{general.userIsAllowedToInputData}">
	        <f:link.action action="edit" 
	          arguments="{special:general.special}"
	          title="{f:translate(key:'button.edit', extensionName:'SavLibraryMvc')}">
	          <core:icon identifier="actions-open" />
	        </f:link.action>
	    </f:if>
	    <f:link.action
	        action="list{f:if(condition:general.currentMode,then:'InEditMode')}"
	        arguments="{special:general.special}"
	        title="{f:translate(key:'button.close', extensionName:'SavLibraryMvc')}">
	        <core:icon identifier="actions-close" />
	    </f:link.action>
	</div>
</div>
<f:if condition="{general.title}">
    <div class="titleLabel">
        <f:format.raw>{general.title}</f:format.raw>
    </div>
</f:if>

<div class="right"></div>