{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<div class="titleBar">
    <div class="titleIconLeft">
        <f:form.button name="save" value="" class="save"
            title="{f:translate(key:'button.save', extensionName:'SavLibraryMvc')}" >
            <core:icon identifier="actions-save" />
        </f:form.button>
        <f:if condition="{general.saveAndNew}">
            <f:form.button name="saveAndNew" value="" class="saveAndNew"
                title="{f:translate(key:'button.save', extensionName:'SavLibraryMvc')}" >
                <core:icon identifier="actions-save-add" />
            </f:form.button>
        </f:if>
        <f:if condition="{general.newButtonIsAllowed}">
            <f:link.action action="edit"
                arguments="{
                    special:'{sav:changeCompressedParameters(arguments:{subformKey:general.subformKey, subformUidLocal:general.subformUidLocal, subformUidForeign:\'-1\'})}'}"
                title="{f:translate(key:'button.new', extensionName:'SavLibraryMvc')}">
                <core:icon identifier="actions-add" />
            </f:link.action>
        </f:if>
    </div>
    <f:if condition="{general.title}">
        <div class="titleLabel">
            <f:format.raw>{general.title}</f:format.raw>
        </div>
    </f:if>
    <div class="titleIconRight"></div>
</div>
