{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<f:for each="{field.items}" as="item" key="itemKey">
    <div
        class="checkbox item{itemKey}{f:if(condition:'{itemKey->sav:checkBreakCondition(breakCount:field.cols)}', then:' clearLeft')}">
        <f:alias map="{count:'{f:count(subject:field.items)}'}">
            <f:form.checkbox class="checkbox"
                property="{field.propertyName}.{itemKey}" value="1"
                checked="{field.checkboxes->sav:getItem(key:itemKey)}"
                additionalAttributes="{onchange:'document.changed=1;'}" />
            <span class="checkbox"><f:translate key="{item.0}" /></span>
        </f:alias>
    </div>
</f:for>



