{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<f:for each="{field.items}" as="item" key="itemKey">
    <div
        class="radioButton item{itemKey}{f:if(condition:'{itemKey->sav:CheckBreakCondition(breakCount:field.cols)}', then:' clearLeft')}">
        <f:form.radio class="radioButton" property="{field.propertyName}"
            value="{item.value}" checked="{field.value} == {item.value}"
            additionalAttributes="{onchange:'document.changed=1;'}" />
        <span class="radioButton"><f:translate key="{item.label}" /></span>
    </div>
</f:for>



