{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}   
    <f:render partial="TitleBars/EditView/Subform.html"
        arguments="{general:field.subformConfiguration.general}" />
    <div class="items">
        <f:for each="{field.subformConfiguration.items}" as="fields"
            key="fieldsKey">
            <div class="subformItem">
                <f:if condition="{fieldsKey} == '-1'">
                <f:then>
                    <f:form.hidden property="{field.propertyName}.{fieldsKey}.uid"
                    value="" />
                </f:then>
                <f:else>
                <f:form.hidden property="{field.propertyName}.{fieldsKey}.uid"
                    value="{fieldsKey}" />                  
                </f:else>        
                </f:if>
                <f:for each="{fields}" as="fieldInSubform">
                    <sav:typoscript.wrap configuration="{fieldInSubform.wrapItem}">
                        <f:comment>Cutter for the fusion and cut conditions</f:comment>
                        <f:if condition="{fieldInSubform.cutDivItemBegin}!=1">
                            <div class="{fieldInSubform.classItem}">
                                <div class="itemIconLeft">
                                    <f:if condition="{fieldInSubform.isFirstField}">
                                        <f:if
                                            condition="{field.subformConfiguration.general.deleteButtonIsAllowed}">
                                            <f:link.action action="deleteInSubform"
                                                arguments="{
                                                    special:'{sav:changeCompressedParameters(arguments:{subformKey:field.subformKey, subformUidLocal:field.subformConfiguration.general.subformUidLocal, subformUidForeign:fieldsKey})}'}"
                                                  title="{f:translate(key:'button.delete', extensionName:'SavLibraryMvc')}"
                                                  onclick="return confirmDelete()">
                                                  <core:icon identifier="actions-delete" />
                                            </f:link.action>
                                        </f:if>
                                        <f:if
                                            condition="{field.subformConfiguration.general.upDownButtonIsAllowed}">
                                            <div class="updown">
                                            <f:link.action action="upInSubform"
                                                arguments="{
                                                    special:'{sav:changeCompressedParameters(arguments:{subformKey:field.subformKey, subformUidLocal:field.subformConfiguration.general.subformUidLocal, subformUidForeign:fieldsKey})}'}"
                                                title="{f:translate(key:'button.up', extensionName:'SavLibraryMvc')}">
                                                <core:icon identifier="actions-caret-up" />                                            </f:link.action>
                                            <f:link.action action="downInSubform"
                                                arguments="{
                                                    special:'{sav:changeCompressedParameters(arguments:{subformKey:field.subformKey, subformUidLocal:field.subformConfiguration.general.subformUidLocal, subformUidForeign:fieldsKey})}'}"
                                                title="{f:translate(key:'button.down', extensionName:'SavLibraryMvc')}">
                                                <core:icon identifier="actions-caret-down" />    
                                            </f:link.action>
                                            </div>
                                        </f:if>
                                    </f:if>
                                </div>
                        </f:if>
                        <f:comment>Cutter for the fusion and cut conditions</f:comment>
                        <f:if condition="{fieldInSubform.cutDivItemInner}!=1">
                            <div class="{fieldInSubform.classField}">
                                <f:if condition="{fieldInSubform.cutLabel}!=1">
                                    <div class="{fieldInSubform.classLabel}"
                                        {f:if(condition:'{fieldInSubform.styleLabel}', then:' style=""')}>
                                        <f:format.raw>{fieldInSubform.label}</f:format.raw>
                                    </div>
                                </f:if>
                                <f:if
                                    condition="{fieldInSubform.fieldType} == 'RelationManyToManyAsSubform'">
                                    <f:then>
                                        <sav:render partial="Types/Edit/{fieldInSubform.fieldType}.html"
                                            arguments="{field:fieldInSubform, general:field.subformConfiguration.general}" />
                                    </f:then>
                                    <f:else>
                                        <div class="{fieldInSubform.classValue}"
                                            {f:if(condition:'{field.styleValue}', then:' style=""')}>
                                            <sav:render
                                                partial="Types/Edit/{fieldInSubform.fieldType}.html"
                                                arguments="{field:fieldInSubform, general:field.subformConfiguration.general}" />
                                        </div>
                                    </f:else>
                                </f:if>
                            </div>
                        </f:if>
                        <f:comment>Cutter for the fusion and cut conditions</f:comment>
                        <f:if condition="{fieldInSubform.cutDivItemEnd}!=1">
                            <div class="right"></div>
            </div>
            </f:if>
            </sav:typoscript.wrap>
        </f:for>
    </div>
    </f:for>
    </div>
    <f:render partial="Footers/EditView/Subform.html"
        arguments="{general:field.subformConfiguration.general}" />

