{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<div class="titleIcons">
    <div class="titleIconLeft">
	<f:if condition="{general.newButtonIsAllowed}">
        <f:link.action action="edit"
            arguments="{
                special:'{sav:changeCompressedParameters(arguments:{uid:0})}'}"
            title="{f:translate(key:'button.new', extensionName:'SavLibraryMvc')}">
            <core:icon identifier="actions-add" />
        </f:link.action>
	    
	</f:if>
	</div>
	<div class="titleIconRight">
	<f:if condition="{general.userIsAllowedToExportData}">
	    <f:link.action action="export"
	         arguments="{special:general.special}"
	         title="{f:translate(key:'button.export', extensionName:'SavLibraryMvc')}">
	        <core:icon identifier="actions-database-export" />
	    </f:link.action>
	</f:if>
	
	<f:if condition="{general.userIsAllowedToInputData}">
	        <f:if condition="{general.currentMode}">
	            <f:then>
	            <f:link.action action="list"
	                arguments="{
	                    special:'{sav:changeCompressedParameters(arguments:{mode:\'{f:if(condition:general.currentMode,then:0, else:1)}\'})}'}"
	                title="{f:translate(key:'button.leaveEditMode', extensionName:'SavLibraryMvc')}">
	                <core:icon identifier="actions-toggle-on" />
	            </f:link.action>    
	            </f:then>
	            <f:else>
	            <f:link.action action="list"
	                arguments="{
	                    special:'{sav:changeCompressedParameters(arguments:{mode:\'{f:if(condition:general.currentMode,then:0, else:1)}\'})}'}"
	                title="{f:translate(key:'button.enterEditMode', extensionName:'SavLibraryMvc')}">
	                <core:icon identifier="actions-toggle-off" />
	            </f:link.action>                
	            </f:else>
	        </f:if>
	</f:if>
    </div>	
</div>
<f:if condition="{general.title}">
    <div class="titleLabel">
        <f:format.raw>{general.title}</f:format.raw>
    </div>
</f:if>



