{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<div class="extensionFooter">
    <f:if condition="{general.lastPageInSubform} > 0">
        <f:if condition="{general.showFirstLastButtons}">
            <f:link.action action="single"
                arguments="{
                    special:'{sav:changePageInSubform(arguments:{subformKey:general.subformKey, action:\'firstPage\'})}'}"
                title="{f:translate(key:'button.backwardFirstPage', extensionName:'SavLibraryMvc')}">
                <core:icon identifier="actions-caret-bar-left" />
            </f:link.action>
        </f:if>
        <f:if condition="{general.pageInSubform} > 0">
            <f:then>
                <f:link.action action="single"
                    arguments="{
                        special:'{sav:changePageInSubform(arguments:{subformKey:general.subformKey, action:\'previousPage\'})}'}"
                    title="{f:translate(key:'button.backwardPage', extensionName:'SavLibraryMvc')}">
                    <core:icon identifier="actions-caret-left" />
                </f:link.action>
            </f:then>
            <f:else>
                <core:icon identifier="actions-chevron-left" />
            </f:else>
        </f:if>
        <f:for each="{general.pagesInSubform}" as="page" key="pageKey">
            <f:link.action action="single"
                arguments="{
                    special:'{sav:changePageInSubform(arguments:{subformKey:general.subformKey, subformPage:pageKey, action:\'changePage\'})}'}"
                class="{f:if(condition:'{general.pageInSubform} == {pageKey}',then:'selected',else:'notSelected')}">
          {page}
      </f:link.action>
        </f:for>
        <f:if
            condition="{general.pageInSubform} < {general.lastPageInSubform}">
            <f:then>
                <f:link.action action="single"
                    arguments="{
                        special:'{sav:changePageInSubform(arguments:{subformKey:general.subformKey, action:\'nextPage\'})}'}"
                    title="{f:translate(key:'button.forwardPage', extensionName:'SavLibraryMvc')}">
                    <core:icon identifier="actions-caret-right" />
                </f:link.action>
            </f:then>
            <f:else>
                <core:icon identifier="actions-chevron-right" />
            </f:else>
        </f:if>
        <f:if condition="{general.showFirstLastButtons}">
            <f:link.action action="single"
                arguments="{
                    special:'{sav:changePageInSubform(arguments:{subformKey:general.subformKey, lastPageInSubform:general.lastPageInSubform, action:\'lastPage\'})}'}"
                title="{f:translate(key:'button.forwardLastPage', extensionName:'SavLibraryMvc')}">
                <core:icon identifier="actions-caret-bar-right" />            
            </f:link.action>
        </f:if>
    </f:if>
</div>
