<f:link.action action="list"
    controller="{general.controllerName}"
    arguments="{
    special:'{sav:changeCompressedParameters(arguments:{orderLink:field.orderAsc})}'}">
    <f:if condition="{configuration.general.orderLink} == {field.orderAsc}">
        <f:then>
            <div class="orderAscSelected" 
                title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}">
                <core:icon identifier="actions-caret-up" />
            </div>        
        </f:then>
        <f:else>
            <div class="orderAsc" 
                title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}">
                <core:icon identifier="actions-caret-up" />
            </div>  
        </f:else>
    </f:if>
</f:link.action>


