{namespace sav=SAV\SavLibraryMvc\ViewHelpers}
<div class="orderAscDesc">
	<f:link.action action="list"
		arguments="{
	special:'{sav:changeCompressedParameters(arguments:{orderLink:field.orderAsc})}'}">
		<f:if condition="{general.orderLink} == {field.orderAsc}">
			<f:then>
				<f:image class="orderAscAbove"
					src="{sav:getIconSrc(fileName:'orderAscSelected.gif')}"
					alt="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}"
					title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}" />
			</f:then>
			<f:else>
				<f:image class="orderAscAbove"
					src="{sav:getIconSrc(fileName:'orderAsc.gif')}"
					alt="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}"
					title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}" />
			</f:else>
		</f:if>
	</f:link.action>
	<f:link.action action="list"
		arguments="{
	special:'{sav:changeCompressedParameters(arguments:{orderLink:field.orderDesc})}'}">
		<f:if condition="{general.orderLink} == {field.orderDesc}">
			<f:then>
				<f:image class="orderDescBelow"
					src="{sav:getIconSrc(fileName:'orderDescSelected.gif')}"
					alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryMvc')}"
					title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryMvc')}" />
			</f:then>
			<f:else>
				<f:image class="orderDescBelow"
					src="{sav:getIconSrc(fileName:'orderDesc.gif')}"
					alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryMvc')}"
					title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryMvc')}" />
			</f:else>
		</f:if>
	</f:link.action>
</div>
