{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<div class="orderAscDesc">
    <f:link.action action="list"
        controller="{general.controllerName}"
        arguments="{
    special:'{sav:changeCompressedParameters(arguments:{orderLink:field.orderAsc})}'}">
        <f:if condition="{general.orderLink} == {field.orderAsc}">
            <f:then>
                <div class="orderAscSelected" 
                    title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}">
                    <core:icon identifier="actions-caret-up" />
                </div>
            </f:then>
            <f:else>
                <div class="orderAsc" 
                    title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryMvc')}">
                    <core:icon identifier="actions-caret-up" />
                </div>            
            </f:else>
        </f:if>
    </f:link.action>
    <f:link.action action="list"
        controller="{general.controllerName}"
        arguments="{
           special:'{sav:changeCompressedParameters(arguments:{orderLink:field.orderDesc})}'}">
        <f:if condition="{general.orderLink} == {field.orderDesc}">
            <f:then>
                <div class="orderDescSelected" 
                    title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryMvc')}">
                    <core:icon identifier="actions-caret-down" />
                </div>            
            </f:then>
            <f:else>
                <div class="orderDesc" 
                    title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryMvc')}">
                    <core:icon identifier="actions-caret-down" />
                </div>  
            </f:else>
        </f:if>
    </f:link.action>
</div>
