{namespace sav=YolfTypo3\SavLibraryMvc\ViewHelpers}
<f:layout name="DefaultSavLibraryMvcLayout.html" />

<f:section name="content">
<f:format.raw>
    <div class="editView view">
        <f:form action="save" id="id_data" name="data" object="{general.object}"
            onsubmit="update('data');"
            enctype="multipart/form-data">
            <f:form.hidden name="special" value="{general.special}" />
            <div class="titleBar">
                <f:render partial="TitleBars/EditView/Default.html"
                    arguments="{general:general}" />
            </div>

            <f:if condition="{folders}">
                <div class="folderTabs">
                    <ul class="folderTabs">
                        <f:for each="{folders}" as="folder" key="folderKey">
                            <li<f:if condition="{folderKey} == {general.activeFolder}"> class="currentTab"</f:if>>
                                <f:link.action action="edit"
                                    arguments="{
              special:'{sav:changeCompressedParameters(arguments:{folder:folderKey})}'}"
                                    onclick="return submitIfChanged('data');">
                                    <span>{folder.label}</span>
                                </f:link.action></li>
                        </f:for>
                    </ul>
                    <div class="right"></div>
                </div>
            </f:if>

            <div class="items">
                <f:for each="{fields}" as="field">
                    <sav:typoscript.wrap configuration="{field.wrapItem}">
                        <f:if condition="{field.folder} == {general.activeFolder}">
                            <f:comment>Cutter for the fusion and cut conditions</f:comment>
                            <f:if condition="{field.cutDivItemBegin}!=1">
                                <div class="{field.classItem}">
                            </f:if>
                            <f:comment>Cutter for the fusion and cut conditions</f:comment>
                            <f:if condition="{field.cutDivItemInner}!=1">
                                <div class="{field.classField}">
                                    <f:if condition="{field.cutLabel}!=1">
                                        <div
                                            class="{field.classLabel}{f:if(condition:'{field.error}',then:' error')}"
                                            {f:if(condition:'{field.styleLabel}', then:' style=""')}>
                                            <f:format.raw>{field.label}</f:format.raw>
                                            <f:if condition="{field.required}">
                                                <div class="required" title="{f:translate(key:'icon.required', extensionName:'SavLibraryMvc')}">
                                                <core:icon identifier="overlay-warning" />
                                                </div>
                                            </f:if>
                                        </div>
                                    </f:if>
                                    <f:if
                                        condition="{field.fieldType} == 'RelationManyToManyAsSubform'">
                                        <f:then>
                                            <sav:render
                                                partial="Types/{f:if(condition:field.edit,then:'Edit',else:'Default')}/{field.fieldType}.html"
                                                arguments="{field:field, general:general}" />
                                        </f:then>
                                        <f:else>
                                            <div class="{field.classValue}"
                                                {f:if(condition:'{field.styleValue}',then:' style=""')}>
                                                <sav:render
                                                    partial="Types/{f:if(condition:field.edit,then:'Edit',else:'Default')}/{field.fieldType}.html"
                                                    arguments="{field:field, general:general}" />
                                            </div>
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:if>
                            <f:comment>Cutter for the fusion and cut conditions</f:comment>
                            <f:if condition="{field.cutDivItemEnd}!=1">
                                <div class="right"></div>
            </div>
            </f:if>
            </f:if>
            </sav:typoscript.wrap>
            </f:for>
    </div>
    <div class="extensionFooter">
        <f:render partial="Footers/EditView/Default.html"
            arguments="{general:general}" />
    </div>
    </f:form>
    </div>
    <sav:addAdditionalJavaScriptHeader />
</f:format.raw>
</f:section>
