/*
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with TYPO3 source code.
 *
 * The TYPO3 project - inspiring people to share!
 *
 * Default CSS - Extension 'SAV Library Mvc'
 *  
 * @author    Laurent Foulloy (yolf.typo3@orange.fr)
 */

/**
 * General definitions 
 */
.savLibraryMvc {
    position: relative;
    float: left;
    clear: left;
    width: 100%;
    background-color: inherit;
    color: #004898;
    line-height: initial;
}

.savLibraryMvc a {
    float: left;
    text-decoration: none;
    background-color: inherit;
    font-weight: bold;
    color: #4176FF;
}

.savLibraryMvc a:hover {
    color: #EA6900;
}

.savLibraryMvc a:active {
    color: #4176FF;
}

.savLibraryMvc div {
    float: left;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.savLibraryMvc input {
    float: left;
    margin: 0;
    padding: 0;
}

.savLibraryMvc .label {
    color: inherit;
}

.savLibraryMvc .view li {
    float: left;
    margin: 0 ;
    padding: 0;
}

.savLibraryMvc select {
    float: left;
    margin: 0;
    padding: 0;
}

.savLibraryMvc span {
    float: left;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.savLibraryMvc textarea {
    float: left;
    margin: 0;
    padding: 0;
}

.savLibraryMvc td {
    float: left;
    margin: 0;
    padding: 0;
}

.savLibraryMvc tr {
    float: left;
    margin: 0;
    padding: 0;
}

.savLibraryMvc .view ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 * Errors or messages
 */
.savLibraryMvc ul.errors {
	all: inherit;
	list-style: inside;
    color: red;
}

.savLibraryMvc ul.errors li {
    list-style: inside;
    background: none;
    color: red;
    font-weight: bold;
    padding: 0;
} 
.savLibraryMvc ul.errors li a {
    float: none;
}

.savLibraryMvc div.message {
    margin-bottom: 10px;
}

.savLibraryMvc div.message li.alert-danger {
	list-style: none;
    background: none;
    background-color: inherit;
    clear: left;
    color: red;
    padding: 0;
    margin: 0;
    border:none;
}

.savLibraryMvc div.message li.alert-danger p.alert-message{
    color:inherit;
}

.savLibraryMvc div.message li.message {
    background-color: inherit;
    font-weight: bold;
}

.savLibraryMvc .view div.item.deleteWarning {
    background-color: #ffff00 !important;
}

.savLibraryMvc .view div.subformItem.deleteWarning div.item {
    background-color: #ffff00 !important;
}

.savLibraryMvc .view div.file.deleteWarning {
    background-color: #ffff00 !important;
}
/**
 * Icons
 */
.savLibraryMvc .icon-size-small {
    width: 18px;
    height: 18px;
    padding: 0px 1px 0px 1px;
    margin: 0px;
    border-width: 0px;
} 
.savLibraryMvc .icon .icon-markup {
    width: 100%;
    height: 100%;
}  
.savLibraryMvc .icon svg {
    width: 100%;
    height: 100%;
}  

.savLibraryMvc div.titleBar svg {
    filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
    -webkit-filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);   
}

.savLibraryMvc div.titleBar div.orderAsc {
    margin-top: -3px;
}

.savLibraryMvc div.titleBar div.orderAsc svg {
    filter: invert(10%) sepia(50%) saturate(5929%) hue-rotate(354deg) brightness(92%) contrast(116%);
    -webkit-filter: invert(10%) sepia(50%) saturate(5929%) hue-rotate(354deg) brightness(92%) contrast(116%);   
}

.savLibraryMvc div.titleBar div.orderDesc {
	margin-top: -5px;
}

.savLibraryMvc div.titleBar div.orderDesc svg {
    filter: invert(10%) sepia(50%) saturate(5929%) hue-rotate(354deg) brightness(92%) contrast(116%);
    -webkit-filter: invert(10%) sepia(50%) saturate(5929%) hue-rotate(354deg) brightness(92%) contrast(116%);   
}

.savLibraryMvc div.titleBar div.orderAscSelected {
    margin-top: -3px;
}

.savLibraryMvc div.titleBar div.orderAscSelected svg {
    filter: invert(16%) sepia(92%) saturate(6643%) hue-rotate(358deg) brightness(105%) contrast(110%);
    -webkit-filter: invert(16%) sepia(92%) saturate(6643%) hue-rotate(358deg) brightness(105%) contrast(110%);
}

.savLibraryMvc div.titleBar div.orderDescSelected {
    margin-top: -5px;
}

.savLibraryMvc div.titleBar div.orderDescSelected svg {
    filter: invert(16%) sepia(92%) saturate(6643%) hue-rotate(358deg) brightness(105%) contrast(110%);
    -webkit-filter: invert(16%) sepia(92%) saturate(6643%) hue-rotate(358deg) brightness(105%) contrast(110%);
}

.savLibraryMvc div.extensionFooter svg {
    filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
    -webkit-filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
}

.savLibraryMvc .listView .items div.itemIconLeft svg {
    filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
    -webkit-filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
}

.savLibraryMvc .editView .items div.itemIconLeft svg {
    filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
    -webkit-filter: invert(17%) sepia(69%) saturate(3278%) hue-rotate(227deg) brightness(73%) contrast(130%);
}

.savLibraryMvc .editView .items .item div.field div.required {
    float:right;   
}

.savLibraryMvc img {
    float: left;
    padding: 0px 1px 0px 1px;
    margin: 0px;
    border-width: 0px;
}

.savLibraryMvc img.print {
    width: 18px;
    height: 16px;
}

.savLibraryMvc input.generateRTFButton {
    width: 20px;
    height: 20px;
}

.savLibraryMvc img.exportButton {
    padding-right: 5px;
}

.savLibraryMvc img.checkboxNotSelected {
    padding: 0px;
}

.savLibraryMvc img.printButton {
    width: 18px;
    height: 16px;
}

.savLibraryMvc button[type=submit] {
	background: none;
	border: none;
	width: 18px;
	height: 18px;
	padding: 0px;
	margin: 0px;	
	float: left;
	cursor: pointer;
}

.savLibraryMvc button.exportExecute {
    background-color: red;   
}


/**
 * Special tags 
 */
.savLibraryMvc div.right {
    float: right;
    height: 1px;
}

.savLibraryMvc span.left {
    float: left;
    padding: 0px 3px 0px 3px;
}

.savLibraryMvc div.left {
    float: left;
}

.savLibraryMvc div.clearLeft {
    clear: left;
}

.savLibraryMvc div.hide {
    visibility: hidden;
}

/**
 * Title bar 
 */
.savLibraryMvc div.titleBar {
    width: 100%;
    background-color: #9999cc;
    min-height: 20px;
}

.savLibraryMvc .subform div.titleBar {
    width: 100%;
    background-color: #9999cc;
    min-height: 20px;
}

.savLibraryMvc div.draftWorkspace {
    background-color: #a9699C;
}

.savLibraryMvc .titleBar div.titleIcons {
	width: 100%;
}

.savLibraryMvc .titleBar div.titleIconLeft {
    padding: 2px 4px 2px 0px;
}

.savLibraryMvc .titleBar .titleIconLeft input {
    float: left;
}

.savLibraryMvc .titleBar .titleIconLeft a {
    float: left;
}

.savLibraryMvc .titleBar div.titleIconRight {
    float: right;
    padding: 2px;
}

.savLibraryMvc .subform .titleBar div.titleIconRight {
    float: right;
    padding: 2px;
}

.savLibraryMvc .titleBar div.titleLabel {
    color: #ffffff;
    font-size: 115%;
    font-weight: bold;
    vertical-align: middle;
    padding: 0px 0px 3px 3px;
}

.savLibraryMvc .titleBar .titleLabel li {
    width: 150px;
    background-color: inherit;
    color: #ffffff;
    font-size: 115%;
    font-weight: bold;
    text-align: left;
    background-image: none;
}

.savLibraryMvc .titleBar .titleLabel li a {
    color: #ffffff;
}

.savLibraryMvc .titleBar .titleLabel li a:hover {
    color: #EA6900;
}

.savLibraryMvc .titleBar .titleLabel li .orderAscDesc {
    width: 10px;
}

/**
 * Folder Tabs 
 */
.savLibraryMvc div.folderTabs {
    width: 100%;
    background: #ffffff url(Images/folderTabBorder.gif) repeat-x bottom;
    color: inherit;
    margin-top: 1px;
}

.savLibraryMvc .folderTabs li {
    display: inline !important;
}

.savLibraryMvc .folderTabs li a {
    background: url(Images/folderTabRight.gif) no-repeat right top;
    border-bottom: 1px solid #84B0C7;
    font-weight: bold;
    text-decoration: none;
}

.savLibraryMvc .folderTabs li a span {
    display: block !important;
    background: url(Images/folderTabLeft.gif) no-repeat left top;
    padding: 4px 9px !important;
    white-space: nowrap;
}

.savLibraryMvc .folderTabs li.currentTab a {
    background-position: 100% -150px;
    border-width: 0px;
}

.savLibraryMvc .folderTabs li a:hover {
    background-position: 100% -150px;
}

.savLibraryMvc .folderTabs li a:hover span {
    background-position: 0% -150px;
}

.savLibraryMvc .folderTabs li.currentTab a span {
    background-position: 0% -150px;
    padding-bottom: 5px !important;
}

/**
 * Extension footer 
 */
.savLibraryMvc div.extensionFooter {
    width: 100%;
    margin: 1px 0 0 0;
    text-align: center;
}

.savLibraryMvc div.extensionFooter span {
	float:none;
	display:inline-block;
}

.savLibraryMvc .extensionFooter a {
    float: none; 
}

.savLibraryMvc .extensionFooter a.selected {
    font-weight: bold;
    font-size:120%;
    vertical-align: 4px; 
}

.savLibraryMvc .extensionFooter a.notSelected {
    font-weight: bold;
    vertical-align: 4px; 
}
/**
 * Views
 */
.savLibraryMvc div.view {
    margin: 0 0 15px 0;
    overflow: hidden;
    padding: 1px;
    width: 100%;
    border: 1px #000099 solid;
    background-color: #f1fbfd;
}

/**
 * List view, Form view, Form Admin view, Print view
 */
.savLibraryMvc div.listHidden {
    display: none;
}

.savLibraryMvc div.view div.items, .savLibraryMvc .listView div.items, .savLibraryMvc .formView div.items,
    .savLibraryMvc .formAdminView div.items, .savLibraryMvc .printView div.items {
    width: 100%;
    background-color: #ffffff;
}

.savLibraryMvc .view .items div.item,.savLibraryMvc .listView .items div.item, .savLibraryMvc .formView .items div.item,
    .savLibraryMvc .formAdminView .items div.item, .savLibraryMvc .printView .items div.item {
    width: 100%;
    border-top: 1px #ddeeee solid;
    border-bottom: 1px #ddeeee solid;
    background-color: #f1fbfd;
    margin-bottom: 1px;
}

/**
 * List view, Form view, Form Admin view, Print view Item 
 */
.savLibraryMvc .listView .items .item div.itemIconLeft, .savLibraryMvc .formView .items .item div.itemIconLeft,
    .savLibraryMvc .formAdminView .items .item div.itemIconLeft,
    .savLibraryMvc .printView .items .item div.itemIconLeft {
    padding: 2px 5px 2px 2px;
    width: 18px;
}

.savLibraryMvc .listView ul, .savLibraryMvc .formView ul, .savLibraryMvc .formAdminView ul,
    .savLibraryMvc .printView ul {
    padding : inherit;
    margin: inherit;
}

.savLibraryMvc .listView li, .savLibraryMvc .formView li, .savLibraryMvc .formAdminView li,
    .savLibraryMvc .printView li {
    width: 150px;
    padding: 4px;
    text-align: left;
    background: inherit;
    font: inherit;
}

.savLibraryMvc .listView div.block, .savLibraryMvc .formView div.block,
    .savLibraryMvc .formAdminView div.block, .savLibraryMvc .printView div.block {
    width: 99%;
    width: calc(100% - 14px);
    border: solid 1px #004898;
    padding: 4px;
    margin: 2px;
}

.savLibraryMvc .listView div.blockFields, .savLibraryMvc .formView div.blockFields,
    .savLibraryMvc .formAdminView div.blockFields, .savLibraryMvc .printView div.blockFields {
    clear: left;
    width: 100%;
}

.savLibraryMvc .listView div.blockHide, .savLibraryMvc .formView div.blockHide,
    .savLibraryMvc .formAdminView div.blockHide, .savLibraryMvc .printView div.blockHide {
    visibility: hidden;
    height: 0px;
}

.savLibraryMvc .listView div.blockTitle, .savLibraryMvc .formView div.blockTitle,
    .savLibraryMvc .formAdminView div.blockTitle, .savLibraryMvc .printView div.blockTitle {
    font-weight: bold;
    border-bottom: solid 1px #004898;
    width: 30%;
    min-width: 210px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

/**
 * List view specific configuration 
 */
.savLibraryMvc .listView .items div.draftWorkspace {
    background-color: #f1dbdd;
}

/**
 * Form view specific configuration 
 */
.savLibraryMvc .formView div.extensionFooter, .savLibraryMvc .formAdminView div.extensionFooter {
    background-color: #9999cc;
}

.savLibraryMvc .formView div.label, .savLibraryMvc .formAdminView div.label {
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.savLibraryMvc .formView div.field, .savLibraryMvc .formAdminView div.field {
    padding: 2px 5px 2px 5px;
}

.savLibraryMvc .formView span.required, .savLibraryMvc .formAdminView span.required {
    color: red;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.savLibraryMvc .formView div.column1, .savLibraryMvc .formAdminView div.column1 {
    clear: both;
    min-width: 20%;
    font-weight: bold;
    min-height: 25px;
}

.savLibraryMvc .formView div.column2, .savLibraryMvc .formAdminView div.column2 {
    min-width: 30%;
    min-height: 25px;
    padding: 0 10px 0 10px;
}

.savLibraryMvc .formView .column2 span.checkbox, .savLibraryMvc .formAdminView .column2 span.checkbox {
    text-align: left;
}

.savLibraryMvc .formView div.column3, .savLibraryMvc .formAdminView div.column3 {
    min-width: 40%;
    min-height: 25px;
}

.savLibraryMvc .formView .column3 input, .savLibraryMvc .formAdminView .column3 input {
    font-size: 12px;
}

.savLibraryMvc .formView .column3 select, .savLibraryMvc .formAdminView .column3 select {
    font-size: 12px;
}

.savLibraryMvc div.formView .column3 textarea, .savLibraryMvc .formAdminView .column3 textarea {
    font-size: 12px;
}

.savLibraryMvc div.formView .column3 span, .savLibraryMvc .formAdminView .column3 span {
    font-size: 12px;
    margin: -3px 2px 2px 3px;
}

.savLibraryMvc .formView div.column4, .savLibraryMvc .formAdminView div.column4Different {
    float: right;
    width: 20px;
    background-color: red;
    margin-right: 10px;
}

.savLibraryMvc .formView div.column4Manual, .savLibraryMvc .formAdminView div.column4Same {
    float: right;
    width: 20px;
    background-color: green;
    margin-right: 10px;
}

/**
 * Print view specific configuration 
 */
.savLibraryMvc .printView div.label {
    clear: left;
    width: 20%;
    font-weight: bold;
    min-height: 25px;
}

.savLibraryMvc .printView div.field {
    width: 78%;
    min-height: 25px;
    padding: 0 1% 0 1%;
}

.savLibraryMvc .printView div.printCol1 {
    clear: left;
    width: 20%;
    font-weight: bold;
    min-height: 25px;
}

.savLibraryMvc .printView div.printCol2 {
    width: 78%;
    min-height: 25px;
    padding: 0 1% 0 1%;
}

/**
 * single view
 */
.savLibraryMvc div.singleView {
    width: 100%;
    width: calc(100% - 2px);
    border: 1px #000099 solid;
    background-color: #f1fbfd;
}

.savLibraryMvc .singleView div.items {
    width: 100%;
    background-color: #ffffff;
    margin: 2px 0px 0px 0px;
}

.savLibraryMvc .singleView .items div.item {
    width: 100%;
    border-top: 1px #ddeeee solid;
    border-bottom: 1px #ddeeee solid;
    background-color: #ffffff;
    margin-bottom: 1px;
}


/**
 * single view field
 */
.savLibraryMvc .singleView .field div.label {
    width: 100px;
    background-color: #d7e8e8;
    color: #000099;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    font-size: inherit;
    white-space: inherit;
}

.savLibraryMvc .singleView .field div.value {
    min-width: 150px;
    background-color: #ffffff;
    padding: 4px;
}

.savLibraryMvc .singleView .field div.doubleSelectorbox {
    padding-right: 5px;
}

.savLibraryMvc .singleView .field div.file {
    clear: left;
}

.savLibraryMvc .singleView .field .radioButton span.radioButtonMessage {
    margin: 0 5px 0 5px;
}

.savLibraryMvc .singleView .field .richText {
    width: 100%;
}

.savLibraryMvc .singleView .field .richText ul {
    list-style: disc inside;
}

.savLibraryMvc .singleView .field .richText li {
    clear: left;
}

.savLibraryMvc .singleView .field .richText p {
    clear: left;
    float: left;
    margin: 0 0 10px 0;
}

.savLibraryMvc .singleView .field .richText span {
    float: none;
}

.savLibraryMvc .singleView .field .checkbox span.checkboxSelected {
    width: 14px;
}

.savLibraryMvc .singleView .field .checkbox span.checkboxNotSelected {
    width: 14px;
}

.savLibraryMvc .singleView div.block {
    width: calc(100% - 10px);
    min-width: 97.5%;
    margin: 2px;
    padding: 2px;
    border: 1px #004898 solid;
}

.savLibraryMvc .singleView div.blockTitle {
    font-weight: normal;
    color: #000099;
    font-weight: bold;
    font-size: 90%;
    border-bottom: solid 1px #004898;
    width: 300px;
    padding-left: 2px;
    margin-bottom: 4px;
}

/**
 * Single view subform 
 */
.savLibraryMvc .singleView div.subform {
    width: 100%;
    background-color: #ffffff;
    width: calc(100% - 8px);
    margin: 0 3px 0 3px;
    border: 1px #000099 solid;
}

.savLibraryMvc .singleView .subform div.subform {
    width: 100%;
    width: calc(100% - 8px);
    margin: 0 3px 0 3px;
}

.savLibraryMvc .singleView .subform div.subformItem {
    margin-top: 5px;
    width: 100%;
}

.savLibraryMvc .singleView .subform .items div.item {
    margin-bottom: 1px;
}

.savLibraryMvc .singleView .subform div.field {
    margin-bottom: 1px;
}

/**
 * edit view
 */
.savLibraryMvc div.editView {
    width: 100%;
    width: calc(100% - 2px);
    border: 1px #000099 solid;
    background-color: #f1fbfd;
}

.savLibraryMvc .editView div.items {
    width: 100%;
    background-color: #ffffff;
    margin: 2px 0 0 0;
}

.savLibraryMvc .editView .items div.item {
    width: 100%;
    border-top: 1px #ddeeee solid;
    border-bottom: 1px #ddeeee solid;
    background-color: #ffffff;
    margin: 1px 0 0 0;
}


/**
 * edit view field
*/
.savLibraryMvc .editView .field div.label {
    width: 100px;
    border: 0px #ddeeee solid;
    background-color: #d7e8e8;
    color: #000099;
    font-weight: bold;
    text-align: left;
    padding: 3px;
    font-size: inherit;    
    white-space: inherit;
}

.savLibraryMvc .editView .field div.error {
    width: 96px;
    border: 2px solid red;
}

.savLibraryMvc .editView .field .label img.required {
    float: right;
}

.savLibraryMvc .editView .field div.value {
    min-width: 150px;
    background-color: #ffffff;
    color: inherit;
    padding: 3px 0 0 3px;
}

.savLibraryMvc .editView .field .value input {
    width: inherit;
    position:relative;
}

.savLibraryMvc .editView .field .value div.file {
    clear: left;
    width: inherit;
    padding: 3px 0 3px 0;
}

.savLibraryMvc .editView .field .value div.file input.fileText {
    margin-right: 3px;
}

.savLibraryMvc .editView .field .value div.file span.fileLink {
    padding: 5px;
}

.savLibraryMvc .editView .field .value select {
    width: inherit;
}

.savLibraryMvc .editView .field .value select.multiple {
    min-width: 50px;
    margin-right: 5px;
}

.savLibraryMvc .editView .field .value div.checkbox {
    width: inherit;
    margin: 0px;    
}

.savLibraryMvc .editView .field .value .checkbox input {
	margin: 0px;   
}

.savLibraryMvc .editView .field .value .checkbox span {
    padding: 0 5px 0 5px;
    margin: 0px; 
}

.savLibraryMvc .editView .field .value div.radioButton {
    width: inherit;
}

.savLibraryMvc .editView .field .value .radioButton span {
    padding: 0 5px 0 5px;
}

.savLibraryMvc .editView .field .value textarea {
    width: inherit;
}

.savLibraryMvc .editView .field .value  td {
    border: red;
}

.savLibraryMvc .editView div.block {
    width: calc(100% - 10px);
    min-width: 97.5%;
    margin: 2px;
    padding: 2px;
    border: 1px #004898 solid;
}

.savLibraryMvc .editView div.blockTitle {
    font-weight: normal;
    color: #000099;
    font-weight: bold;
    font-size: 90%;
    border-bottom: solid 1px #004898;
    width: 300px;
    padding-left: 2px;
    margin-bottom: 4px;
}

/**
     * Edit view subform 
     */
.savLibraryMvc .editView div.subform {
    width: 100%;
    background-color: #ffffff;
    width: calc(100% - 8px);
    margin: 0 3px 0 3px;
    border: 1px #000099 solid;
}

.savLibraryMvc .editView .subform div.subform {
    width: 100%;
    width: calc(100% - 44px);
    margin: 0 3px 0 38px;
}

.savLibraryMvc .editView .subform div.subformItem {
    margin-top: 5px;
    width: 100%;
}

.savLibraryMvc .editView .subform div.subformItem:first-child {
    margin-top: 0;
}

.savLibraryMvc .editView .subform div.items {
    margin: 1px 0 1px 0;
}

.savLibraryMvc .editView .items div.itemIconLeft {
    width: 37px;
    padding: 2px;
}

.savLibraryMvc .editView .items div.itemIconLeft div.updown{
    width: 16px;
}

.savLibraryMvc .editView .subform .items div.item {
    margin-bottom: 1px;
}

.savLibraryMvc .editView .subform .items .item .field div.label {
    width: 100px;
    background-color: #d7e8e8;
    color: #000099;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

.savLibraryMvc .editView .subform .items .item .field div.error {
    width: 96px;
    border: 2px solid red;
}

.savLibraryMvc .editView .subform .items .item .field div.value {
    min-width: 150px;
    background-color: #ffffff;
    padding: 5px;
}

/**
 * export view
 */

/**
 * Export view general fields  
 */
.savLibraryMvc .exportView .field div.label {
    width: 100px;
    background-color: #d7e8e8;
    color: #000099;
    font-weight: bold;
    text-align: left;
    padding: 4px;
}

.savLibraryMvc .exportView .field div.value {
    min-width: 150px;
    padding-left: 3px;
    background-color: #ffffff;
}

/** 
 * Export view special fields 
 */
.savLibraryMvc .exportView .generatedFileLink a {
    float: left;
    padding: 5px;
    margin: 0px;
}

.savLibraryMvc .exportView .field input.templateFile {
    width: 500px;
}

.savLibraryMvc .exportView .field textarea.variables {
    width: 500px;
    min-height: 100px;
}

.savLibraryMvc .exportView .field input.xsltFile {
    width: 500px;
}

.savLibraryMvc .exportView .field input.exec {
    width: 500px;
}

.savLibraryMvc .exportView .field textarea.query {
    width: 500px;
    height: 300px;
}

.savLibraryMvc .exportView div.fields {
    width: 100%;
}

.savLibraryMvc .exportView .fields div.value {
    width: 84%;
    width: calc(86% - 8px);
}

.savLibraryMvc .exportView .fields div.checkbox {
    width: 50%;
}

.savLibraryMvc .exportView .fields .checkbox input {
    margin-top: 4px;
}

.savLibraryMvc .exportView .fields .checkbox span {
    width: 85%;
    padding: 0 5px 0 5px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.savLibraryMvc .exportView .field textarea.whereClause {
    width: 500px;
    height: 90px;
}

.savLibraryMvc .exportView .field input.orderByClause {
    width: 500px;
}

.savLibraryMvc .exportView .field textarea.additionalTables {
    width: 500px;
    height: 30px;
}

.savLibraryMvc .exportView .field textarea.additionalFields {
    width: 500px;
    height: 30px;
}

.savLibraryMvc .exportView .field input.groupByClause {
    width: 259px;
}

.savLibraryMvc .exportView .field textarea.orderedFieldList {
    width: 500px;
    height: 90px;
}

.savLibraryMvc .exportView .field textarea.fieldsConfiguration {
    width: 500px;
    height: 90px;
}

/** 
* Keeps rte_ckeditor properties 
*/
.savLibraryMvc .cke_reset_all {
    float: none;
}
.savLibraryMvc .cke_reset {
    float: none;
}
.savLibraryMvc .cke_bottom {
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    clear: left;
}

