<f:for each="{field.files}" key="fileKey" as="file">
	<div class="file item{fileKey}">
		<f:switch expression="{file.renderAs}">
			<f:comment>File as Object</f:comment>
			<f:case value="1">
				<f:image image="{file.value}" />
			</f:case>
			<f:comment>File as Resource</f:comment>
			<f:case value="2">
				<f:image src="{file.fileName}" alt="{field.alt}"
					width="{field.width}" height="{field.height}" />
			</f:case>
			<f:comment>File as link</f:comment>
			<f:case value="3">
				<f:if condition="{field.addIcon}">
					<div class="fileIcon">
						<f:format.raw>{file.icon}</f:format.raw>
					</div>
				</f:if>
				<f:link.typolink parameter="{file.value}">{file.message}</f:link.typolink>
			</f:case>
		</f:switch>
	</div>
</f:for>
